{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editar Perfil - CodeCrack{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card p-4">
            <h2 class="text-center"><i class="fas fa-edit"></i> Editar Perfil</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100 mt-3">
                    <i class="fas fa-save"></i> Guardar Cambios
                </button>
            </form>
            <a href="{% url 'perfil' %}" class="btn btn-secondary w-100 mt-2">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
